<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>EventosApp</title>
</head>
<body>

    <h1>Cadastro de Eventos</h1>

    <form method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome"/>
        <label for="local">Local:</label>
        <input type="text" name="local" id="local">
        <label for="data">Data:</label>
        <input type="date" name="data" id="data">
        <label for="horario">Horário:</label>
        <input type="time" name="horario" id="horario">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>